$icon-font-path: '../fonts/';

@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$dark-gray-color: #323d63;
$light-blue-color: #88abbb;
$almost-white-color: #E8E8E8;
$darker-gray-color: #273144;
$white-color: #fff;
$gray-color: gray;
$light-gray-color: #E0E0E0;
$green-light-color: #7ebe21;

body {
    font-family: Lato, sans-serif;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;

    &:after {
        display: table;
        margin: 0;
        height: 5px;
        content: " ";
        text-shadow: none;
        background: rgba(0, 0, 0, 0.15) none repeat scroll 0 0;
        width: 100%;
    }
}

.navbar-default {
    background-color: $dark-gray-color;
    border: medium none;
    border-radius: 0;
    font-size: 16px;

    .navbar-nav {
      >li {
        >a {
          color: $light-blue-color;
          font-size: 16px;
          padding: 25px;

          &:hover {
            background-color: $almost-white-color;
            color: $light-blue-color;
          }
          &:focus {
            color: $light-blue-color;           
          }
        }
      } 
      >.active {
        >a {
            background-color: $darker-gray-color;
            color: $white-color;
        }
      }
    }
}
.navbar {
  min-height: 50px;
  margin: 0;
}
.navbar-brand {
  line-height: 29px;
  height: 100%;
  padding: 20px 0;
}
.navbar-toggle {
  margin-top: 18px;
  margin-right: 22px;
}
.main-part {
  background: url(../images/background-main.png) repeat top left fixed;
  background-size: auto;
  height: 100vh; 
  min-height: 400px;

  .text {
    position: relative;
    top: 35%;
    margin: auto;
    color: $white-color;
    max-width: 750px;
    text-align: center;

    h1 {
      font-size: 36px;
      margin: 20px 0; 
      text-shadow: 1px 1px $gray-color;     
    }
    p {
      font-size: 20px; 
      margin: 20px 0;   
      max-width: 715px;  
      text-shadow: 0.5px 0.5px $gray-color;    
    }
    input {
      border-radius: 7px 0 0 7px;
      border-style: solid none solid solid;
      border-width: 2px 0 2px 2px;
      box-sizing: border-box;
      color: $gray-color;
      flex: 1 1 0;
      min-width: 0;
      outline: medium none;
      padding: 5px 20px;
      height: 58px;
      top: -6px;
      position: relative;
      width: 370px;
      font-size: 19px;
      border-color: $light-gray-color;
    }
    button {
      border-radius: 0 7px 7px 0;
      border-style: solid solid solid none;
      border-width: 2px 2px 2px 0;      
      border-color: $light-gray-color;
      box-sizing: border-box;
      color: $gray-color;
      padding: 11px 16px 4px;
      transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
      font-size: 26px;
      cursor: pointer;
      display: inline-block;
      line-height: 1.5;
      margin: 0;
      text-align: center;
      background-color: $white-color;
      position: relative;
      left: -3px;

      &:hover {
        background-color: $almost-white-color;
        color: $dark-gray-color;
      }
    }

  }
}  
.block {
  padding: 100px 0;
  h2 {
    padding: 10px 0;
    margin-top: 0;
  }
  p {
    color: #a3a2a2;
    line-height: 25px;
  }
}
.grey {
  background-color: #f6f6f6;
}
.icons {
  .icon-block {
    height: 140px;
    text-align: center; 

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
  }
  img {
    max-width: 110px;
    max-height: 110px;
    padding: 7px;
    vertical-align: middle;
    margin: auto;
  }
}
footer {
    background-color: $green-light-color;
    min-height: 50px;
    .copyright {
      color: $white-color;
      margin: 15px 0;
    }
}
a[name] {
    position: relative;
    top:-30px;
}
.fb-share-layer {
  position: fixed;
  right: 12px;
  bottom: 0;
  height: 37px;
  z-index: 99;

  .fb-share-button {
    z-index: 199;
    display: block;
    margin: auto;
  }
}

.bs-callout {
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin: 20px 0;
    padding: 20px;
    border-color: $light-gray-color;
    background-color: $white-color;

    .twiDate {
      float: right;
    }

    span {
      color: $gray-color;
    }
    p {
      color: #000;
      span {
        margin-right: 20px;
      }
      i {
        margin-right: 10px;
      }
    }
}
#parseStatus {
  color:$white-color;
  font-size: 24px;
  position: fixed;
  top: 65%;
  text-align: center;
  width: 100vw;
  p {
    display: block;
    margin: auto;
  }
}
.negativeText {
    border-left-color: #ce4844;
}
.positiveText {
    border-left-color: #5cb85c;
}
.neutralText {
    border-left-color: $gray-color;
}

/* Flashing */
.icons img:hover {
	-webkit-animation: flash 0.8s;
	animation: flash 0.8s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .6;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {

  .main-part {
      .text {
        input {
          width: 195px;
        }
      }
  }
  .navbar-brand img {
    width: 200px;
  }
  .main-part { 
    .text {
      top: 25%;
    }  
  }
  .fb-share-layer {
    display: none;
  }

}
